# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\meria\Downloads\nd035-c4-Security-and-DevOps-master\nd035-c4-Security-and-DevOps-master\starter_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
